*.iml
.gradle
/local.properties
.idea/caches/*.ser
/.idea/caches/*.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/jtds-1.3.1/build/.transforms/0456dca1232ca93df6b909c650f80d56/jtds-1.3.1/classes.dex
/jtds-1.3.1/build/
/gradle/wrapper/gradle-wrapper.properties
/.idea/git.xml
/.idea/gradle.xml
/.idea/misc.xml
/gradle/*